<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
		<input type="hidden" name="old_headimgurl" value="<?php echo $data['headimgurl']; ?>" />
		<input type="hidden" name="old_big_headimgurl" value="<?php echo $data['big_headimgurl']; ?>" />
		<input type="hidden" name="old_mid_headimgurl" value="<?php echo $data['mid_headimgurl']; ?>" />
		<input type="hidden" name="old_sm_headimgurl" value="<?php echo $data['sm_headimgurl']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">openid：</td>
                <td>
                    <input  type="text" name="openid" value="<?php echo $data['openid']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">签到签退：</td>
                <td>
                	<input type="radio" name="signstate" value="签到" <?php if($data['signstate'] == '签到') echo 'checked="checked"'; ?> />签到 
                	<input type="radio" name="signstate" value="签退" <?php if($data['signstate'] == '签退') echo 'checked="checked"'; ?> />签退 
                </td>
            </tr>
            <tr>
                <td class="label">昵称：</td>
                <td>
                    <input  type="text" name="nickname" value="<?php echo $data['nickname']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">头像：</td>
                <td>
                	<input type="file" name="headimgurl" /><br /> 
                	<?php showImage($data['headimgurl'], 100); ?>                </td>
            </tr>
            <tr>
                <td class="label">用户备注信息：</td>
                <td>
                    <input  type="text" name="remark" value="<?php echo $data['remark']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">签到时间：</td>
                <td>
                    <input id="signdate" type="text" name="signdate" value="<?php echo $data['signdate']; ?>" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
$("#signdate").datepicker(); 
</script>