<layout name="layout" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">公司名称：</td>
                <td>
                    <input  type="text" name="com_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">公司职位：</td>
                <td>
                    <input  type="text" name="com_position" value="保密" />
                </td>
            </tr>
            <tr>
                <td class="label">人数：</td>
                <td>
                    <input  type="text" name="com_num" value="1" />
                </td>
            </tr>
            <tr>
                <td class="label">薪水：</td>
                <td>
                    <input  type="text" name="com_salary" value="1000" />
                </td>
            </tr>
            <tr>
                <td class="label">联系方式：</td>
                <td>
                    <input  type="text" name="com_tel" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">公司邮箱：</td>
                <td>
                    <input  type="text" name="com_email" value="503102319@qq.com" />
                </td>
            </tr>
            <tr>
                <td class="label">公司地点：</td>
                <td>
                    <input  type="text" name="com_address" value="长治市" />
                </td>
            </tr>
            <tr>
                <td class="label">职位描述：</td>
                <td>
                    <input  type="text" name="com_desc" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">点赞：</td>
                <td>
                    <input  type="text" name="com_like" value="100" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
</script>