<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">姓名：</td>
                <td>
                    <input  type="text" name="remark" value="<?php echo $data['remark']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">发表意见时间：</td>
                <td>
                    <input id="suggestiondate" type="text" name="suggestiondate" value="<?php echo $data['suggestiondate']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">意见：</td>
                <td>
                	<textarea id="suggestion" name="suggestion"><?php echo $data['suggestion']; ?></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<link href="__PUBLIC__/umeditor1_2_2-utf8-php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor1_2_2-utf8-php/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor1_2_2-utf8-php/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/lang/zh-cn/zh-cn.js"></script>

<script>
$("#suggestiondate").datepicker(); 
var um = UM.getEditor('suggestion', {
	initialFrameWidth:"100%"
});
</script>