<layout name="layout" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">设备id：</td>
                <td>
                    <input  type="text" name="devid" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">教室位置：</td>
                <td>
                    <input  type="text" name="classroomaddr" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">教室容纳人数：</td>
                <td>
                    <input  type="text" name="roomcapacity" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
</script>