<layout name="layout" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- 搜索 -->
<div class="form-div search_form_div">
    <form action="__ACTION__" method="GET" name="search_form">
		<p>
			学号：
	   		<input type="text" name="stuno" size="30" value="<?php echo I('get.stuno'); ?>" />
		</p>
		<p>
			学期编号：
			  <select name="perioidno">
                        <?php foreach($gpData as $k=>$v):?>
                         <option value="<?php echo $v['id']; ?>" ><?php echo $v['periodname']; ?></option>
                        <?php endforeach; ?> 
                    </select>
	   		 
		</p>
		<p><input type="submit" value=" 搜索 " class="button" /></p>
    </form>
</div>
<!-- 列表 -->
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
            <th >学号</th>
            <th >学期编号</th>
            <th >学生成绩信息</th>
			<th width="60">操作</th>
        </tr>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
				<td><?php echo $v['stuno']; ?></td>
				<td><?php echo $v['periodname']; ?></td>
				<td><?php echo $v['gradeinfo']; ?></td>
		        <td align="center">
		        	<a href="<?php echo U('edit?stuno='.$v['stuno'].'&p='.I('get.p')); ?>" title="编辑">编辑</a> |
	                <a href="<?php echo U('delete?stuno='.$v['stuno'].'&p='.I('get.p')); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
		        </td>
	        </tr>
        <?php endforeach; ?> 
		<?php if(preg_match('/\d/', $page)): ?>  
        <tr><td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
	</table>
</div>

<script>
</script>

<script src="__PUBLIC__/Admin/Js/tron.js"></script>