<layout name="layout" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 

<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>子项目</th>
                <th>说明</th>
                <th>得票</th>
                <th>缩略图</th>
                <th>操作</th>
            </tr>
            <?php foreach($data as $k=>$v): ?>
            <tr class="tron">
                <td align="center"><?php echo $v['id']; ?> </td>
                <td align="center"><?php echo $v['title']; ?> </td>
                <td align="center"> <?php echo $v['info']; ?></td>
                <td align="center"> <?php echo $v['count']; ?></td>
                <td align="center"> <?php showImage($v['sm_pic']); ?></td>
                <td align="center"> 
                   <a href="<?php echo U('itemedit?id='.$v['id'].'&vid='.$v['vid']); ?>">修改</a> |
                   <a onclick="return confirm('确定删除吗?');"  href="<?php echo U('itemdelete?id='.$v['id']); ?>">删除</a>
                </td>
            
            </tr>
          <?php endforeach; ?>            
        </table>
<!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                     <?php echo $page; ?>
                </td>
            </tr>
        </table>
    <!-- 分页结束 -->
    </div>
</form>
<!-- 引入时间插件 -->

<link href="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/datepicker-zh_cn.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.css" />
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<script>
// 添加时间插件
$.timepicker.setDefaults($.timepicker.regional['zh-CN']);  // 设置使用中文 

$("#fa").datetimepicker();
$("#ta").datetimepicker();
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>
 